@use '@styles/variables' as vars;

.dayHolder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  width: 34px;
  height: 60px;
  color: vars.$text;
  border-radius: 100px;

  .date {
    font-weight: bold;
    font-size: 16px;

    @media screen and (min-width: vars.$tablet) {
      font-size: 18px;
    }
  }

  .day {
    font-size: 12px;
  }
}

.holiday {
  .day {
    color: vars.$red;
  }
}

.free {
  background-color: vars.$primary;
  cursor: pointer;

  &:hover {
    background-color: vars.$primary-hover;
  }

  &:active {
    background-color: vars.$primary-active;
  }
}

.active {
  background-color: vars.$primary-active;
}

.today {
  box-shadow: 0 2px 12px rgb(vars.$text, 0.35);
}