.container {
  display: flex;
  flex-direction: column;
  gap: 24px;
  max-width: 764px;
  margin: 0 auto;

  h2 {
    margin: 0;
  }
}

.content {
  display: flex;
  flex-direction: column;
  gap: 8px;
  text-align: center;
}
